@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.iphone6781row0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 258px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkpfu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
display: flex;
margin-left: 0px;
width: 269px;
height: 100%;
flex-direction: column;}
.iphone6781row0container8row0 {
display: flex;
margin-left: 11px;
margin-top: 12px;
width: 207px;
height: 13px;
align-items: stretch;
flex-shrink: 0;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkry9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 13px;}
.style17 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 0.6875em;
font-weight: 700;
margin-left: 143px;}
.style19 {
background-color: #ffffff;
box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.1411764705882353);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
position: relative;
display: flex;
margin-left: 13px;
margin-top: 203px;
width: 362px;
height: 148px;
flex-direction: column;
flex-shrink: 0;}
.style20 {
color: #1b1b1b;
font-family: 'Open Sans',serif;
font-size: 1.25em;
font-weight: 600;
margin-left: 23px;
margin-top: 8px;
height: 24px;}
.iphone6781row0container8container12row1 {
position: relative;
display: flex;
margin-left: 23px;
margin-top: 10px;
width: 106px;
height: 11px;
align-items: stretch;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dks7r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 8px;
flex-shrink: 0;}
.style21 {
color: #ababab;
font-family: 'Open Sans',serif;
font-size: 0.5em;
font-weight: 600;
margin-left: 3px;
flex-shrink: 0;}
.iphone6781row0container8container12row2 {
display: flex;
margin-top: 24px;
width: 339px;
height: 58px;
align-items: flex-end;
align-self: flex-end;}
.style23 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 0.625em;
font-weight: 700;
margin-left: 0px;
height: 12px;}
.style24 {
background-color: #1d7aff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
display: flex;
margin-left: 60px;
width: 249px;
height: 100%;
align-items: flex-end;
flex-direction: column;}
.iphone6781row0container8container12row2container14row0 {
display: flex;
width: 204px;
height: 58px;
align-items: center;}
.style25 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 0.625em;
font-weight: 600;
margin-left: 0px;
height: 12px;}
.style26 {
background-color: #1c6cf0;
display: flex;
margin-left: 38px;
width: 133px;
height: 100%;
align-items: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 0.625em;
font-weight: 600;
height: 12px;}
.iphone6781row0column1 {
display: flex;
margin-left: 0px;
width: 106px;
height: 219px;
align-items: stretch;
flex-direction: column;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkq4j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 107px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkr1j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 112px;}
.style13 {
color: #5a5a5a;
font-family: 'Open Sans',serif;
font-size: 0.625em;
font-weight: 700;
margin-left: 15px;
margin-top: 158px;
height: 12px;}
.iphone6781row2 {
display: flex;
margin-left: 12px;
margin-top: 23px;
width: 352px;
height: 101px;
align-items: stretch;
justify-content: space-between;}
.style5 {
background-image: linear-gradient(40.91435455662119deg,#4787fb 0%,#5988ea 24.26529973745346%,#f38f5d 66.93980097770691%,#fb8c51 100%);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
display: flex;
width: 73px;
align-items: stretch;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknv9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
height: 97px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkojm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 73px;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkotg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 73px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkp4c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 73px;}
.iphone6781row3 {
display: flex;
margin-left: 34px;
margin-top: 26px;
width: 306px;
height: 11px;
align-items: stretch;
justify-content: space-between;}
.style4 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 0.5625em;
font-weight: 600;}
.style8 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 0.5625em;
font-weight: 600;}
.style10 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 0.5625em;
font-weight: 600;}
.style12 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 0.5625em;
font-weight: 600;}
.style3 {
background-color: #1d7aff;
margin-left: 0px;
margin-top: 6px;
width: 98px;
height: 2px;}
.style0 {
background-color: #2f3245;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 70px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781container0row0 {
position: relative;
display: flex;
width: 143px;
height: 14px;
align-items: stretch;}
.style2 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknkg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 14px;
flex-shrink: 0;}
.style1 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 0.75em;
margin-left: 7px;
flex-shrink: 0;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style28 {
background-color: #ffffff;
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.10196078431372549);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 158px;
flex-direction: column;}
.style30 {
background-color: #000000;
margin-top: 0px;
width: 0px;
height: 0px;}
.style29 {
background-color: #1d7aff;
border-top-left-radius: 27px;
border-top-right-radius: 27px;
border-bottom-left-radius: 27px;
border-bottom-right-radius: 27px;
margin-left: 33px;
margin-top: 79px;
width: 52px;
height: 52px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.iphone6781row0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 528px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkpfu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
display: flex;
margin-left: 0px;
width: 551px;
height: 100%;
flex-direction: column;}
.iphone6781row0container8row0 {
display: flex;
margin-left: 23px;
margin-top: 25px;
width: 424px;
height: 27px;
align-items: stretch;
flex-shrink: 0;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkry9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;}
.style17 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.408em;
font-weight: 700;
margin-left: 293px;}
.style19 {
background-color: #ffffff;
box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.1411764705882353);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
position: relative;
display: flex;
margin-left: 27px;
margin-top: 416px;
width: 741px;
height: 303px;
flex-direction: column;
flex-shrink: 0;}
.style20 {
color: #1b1b1b;
font-family: 'Open Sans',serif;
font-size: 2.56em;
font-weight: 600;
margin-left: 47px;
margin-top: 16px;
height: 49px;}
.iphone6781row0container8container12row1 {
position: relative;
display: flex;
margin-left: 47px;
margin-top: 20px;
width: 217px;
height: 23px;
align-items: stretch;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dks7r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 16px;
flex-shrink: 0;}
.style21 {
color: #ababab;
font-family: 'Open Sans',serif;
font-size: 1.024em;
font-weight: 600;
margin-left: 6px;
flex-shrink: 0;}
.iphone6781row0container8container12row2 {
display: flex;
margin-top: 49px;
width: 694px;
height: 119px;
align-items: flex-end;
align-self: flex-end;}
.style23 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.28em;
font-weight: 700;
margin-left: 0px;
height: 25px;}
.style24 {
background-color: #1d7aff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
display: flex;
margin-left: 123px;
width: 510px;
height: 100%;
align-items: flex-end;
flex-direction: column;}
.iphone6781row0container8container12row2container14row0 {
display: flex;
width: 418px;
height: 119px;
align-items: center;}
.style25 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.28em;
font-weight: 600;
margin-left: 0px;
height: 25px;}
.style26 {
background-color: #1c6cf0;
display: flex;
margin-left: 78px;
width: 272px;
height: 100%;
align-items: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.28em;
font-weight: 600;
height: 25px;}
.iphone6781row0column1 {
display: flex;
margin-left: 0px;
width: 217px;
height: 449px;
align-items: stretch;
flex-direction: column;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkq4j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 219px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkr1j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 229px;}
.style13 {
color: #5a5a5a;
font-family: 'Open Sans',serif;
font-size: 1.28em;
font-weight: 700;
margin-left: 31px;
margin-top: 324px;
height: 25px;}
.iphone6781row2 {
display: flex;
margin-left: 25px;
margin-top: 47px;
width: 721px;
height: 207px;
align-items: stretch;
justify-content: space-between;}
.style5 {
background-image: linear-gradient(40.91435455662119deg,#4787fb 0%,#5988ea 24.26529973745346%,#f38f5d 66.93980097770691%,#fb8c51 100%);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
display: flex;
width: 150px;
align-items: stretch;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknv9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
height: 199px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkojm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 150px;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkotg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 150px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkp4c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 150px;}
.iphone6781row3 {
display: flex;
margin-left: 70px;
margin-top: 53px;
width: 627px;
height: 23px;
align-items: stretch;
justify-content: space-between;}
.style4 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.1520000000000001em;
font-weight: 600;}
.style8 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.1520000000000001em;
font-weight: 600;}
.style10 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.1520000000000001em;
font-weight: 600;}
.style12 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.1520000000000001em;
font-weight: 600;}
.style3 {
background-color: #1d7aff;
margin-left: 0px;
margin-top: 12px;
width: 201px;
height: 4px;}
.style0 {
background-color: #2f3245;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 143px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781container0row0 {
position: relative;
display: flex;
width: 293px;
height: 29px;
align-items: stretch;}
.style2 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknkg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 29px;
flex-shrink: 0;}
.style1 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.536em;
margin-left: 14px;
flex-shrink: 0;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style28 {
background-color: #ffffff;
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.10196078431372549);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 324px;
flex-direction: column;}
.style30 {
background-color: #000000;
margin-top: 0px;
width: 0px;
height: 0px;}
.style29 {
background-color: #1d7aff;
border-top-left-radius: 27px;
border-top-right-radius: 27px;
border-bottom-left-radius: 27px;
border-bottom-right-radius: 27px;
margin-left: 68px;
margin-top: 162px;
width: 106px;
height: 106px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.iphone6781row0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 633px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkpfu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
display: flex;
margin-left: 0px;
width: 660px;
height: 100%;
flex-direction: column;}
.iphone6781row0container8row0 {
display: flex;
margin-left: 27px;
margin-top: 29px;
width: 508px;
height: 32px;
align-items: stretch;
flex-shrink: 0;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkry9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 32px;}
.style17 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.6866666666666665em;
font-weight: 700;
margin-left: 351px;}
.style19 {
background-color: #ffffff;
box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.1411764705882353);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
position: relative;
display: flex;
margin-left: 32px;
margin-top: 498px;
width: 888px;
height: 363px;
flex-direction: column;
flex-shrink: 0;}
.style20 {
color: #1b1b1b;
font-family: 'Open Sans',serif;
font-size: 3.0666666666666664em;
font-weight: 600;
margin-left: 56px;
margin-top: 20px;
height: 59px;}
.iphone6781row0container8container12row1 {
position: relative;
display: flex;
margin-left: 56px;
margin-top: 25px;
width: 260px;
height: 27px;
align-items: stretch;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dks7r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 20px;
flex-shrink: 0;}
.style21 {
color: #ababab;
font-family: 'Open Sans',serif;
font-size: 1.2266666666666666em;
font-weight: 600;
margin-left: 7px;
flex-shrink: 0;}
.iphone6781row0container8container12row2 {
display: flex;
margin-top: 59px;
width: 832px;
height: 142px;
align-items: flex-end;
align-self: flex-end;}
.style23 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.5333333333333332em;
font-weight: 700;
margin-left: 0px;
height: 29px;}
.style24 {
background-color: #1d7aff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
display: flex;
margin-left: 147px;
width: 611px;
height: 100%;
align-items: flex-end;
flex-direction: column;}
.iphone6781row0container8container12row2container14row0 {
display: flex;
width: 500px;
height: 142px;
align-items: center;}
.style25 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.5333333333333332em;
font-weight: 600;
margin-left: 0px;
height: 29px;}
.style26 {
background-color: #1c6cf0;
display: flex;
margin-left: 93px;
width: 326px;
height: 100%;
align-items: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.5333333333333332em;
font-weight: 600;
height: 29px;}
.iphone6781row0column1 {
display: flex;
margin-left: 0px;
width: 260px;
height: 537px;
align-items: stretch;
flex-direction: column;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkq4j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 263px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkr1j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 275px;}
.style13 {
color: #5a5a5a;
font-family: 'Open Sans',serif;
font-size: 1.5333333333333332em;
font-weight: 700;
margin-left: 37px;
margin-top: 388px;
height: 29px;}
.iphone6781row2 {
display: flex;
margin-left: 29px;
margin-top: 56px;
width: 864px;
height: 248px;
align-items: stretch;
justify-content: space-between;}
.style5 {
background-image: linear-gradient(40.91435455662119deg,#4787fb 0%,#5988ea 24.26529973745346%,#f38f5d 66.93980097770691%,#fb8c51 100%);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
display: flex;
width: 179px;
align-items: stretch;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknv9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
height: 238px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkojm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 179px;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkotg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 179px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkp4c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 179px;}
.iphone6781row3 {
display: flex;
margin-left: 83px;
margin-top: 64px;
width: 751px;
height: 27px;
align-items: stretch;
justify-content: space-between;}
.style4 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.38em;
font-weight: 600;}
.style8 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.38em;
font-weight: 600;}
.style10 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.38em;
font-weight: 600;}
.style12 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.38em;
font-weight: 600;}
.style3 {
background-color: #1d7aff;
margin-left: 0px;
margin-top: 15px;
width: 240px;
height: 5px;}
.style0 {
background-color: #2f3245;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 172px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781container0row0 {
position: relative;
display: flex;
width: 351px;
height: 34px;
align-items: stretch;}
.style2 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknkg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 34px;
flex-shrink: 0;}
.style1 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.8399999999999999em;
margin-left: 17px;
flex-shrink: 0;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style28 {
background-color: #ffffff;
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.10196078431372549);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 388px;
flex-direction: column;}
.style30 {
background-color: #000000;
margin-top: 0px;
width: 0px;
height: 0px;}
.style29 {
background-color: #1d7aff;
border-top-left-radius: 27px;
border-top-right-radius: 27px;
border-bottom-left-radius: 27px;
border-bottom-right-radius: 27px;
margin-left: 81px;
margin-top: 194px;
width: 128px;
height: 128px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.iphone6781row0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 826px;}
.style14 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkpfu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
display: flex;
margin-left: 0px;
width: 861px;
height: 100%;
flex-direction: column;}
.iphone6781row0container8row0 {
display: flex;
margin-left: 35px;
margin-top: 38px;
width: 662px;
height: 42px;
align-items: stretch;
flex-shrink: 0;}
.style18 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkry9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 42px;}
.style17 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.2em;
font-weight: 700;
margin-left: 458px;}
.style19 {
background-color: #ffffff;
box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.1411764705882353);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
position: relative;
display: flex;
margin-left: 42px;
margin-top: 650px;
width: 1158px;
height: 474px;
flex-direction: column;
flex-shrink: 0;}
.style20 {
color: #1b1b1b;
font-family: 'Open Sans',serif;
font-size: 4em;
font-weight: 600;
margin-left: 74px;
margin-top: 26px;
height: 77px;}
.iphone6781row0container8container12row1 {
position: relative;
display: flex;
margin-left: 74px;
margin-top: 32px;
width: 339px;
height: 35px;
align-items: stretch;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dks7r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 26px;
flex-shrink: 0;}
.style21 {
color: #ababab;
font-family: 'Open Sans',serif;
font-size: 1.6em;
font-weight: 600;
margin-left: 10px;
flex-shrink: 0;}
.iphone6781row0container8container12row2 {
display: flex;
margin-top: 77px;
width: 1085px;
height: 186px;
align-items: flex-end;
align-self: flex-end;}
.style23 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 2em;
font-weight: 700;
margin-left: 0px;
height: 38px;}
.style24 {
background-color: #1d7aff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
display: flex;
margin-left: 192px;
width: 797px;
height: 100%;
align-items: flex-end;
flex-direction: column;}
.iphone6781row0container8container12row2container14row0 {
display: flex;
width: 653px;
height: 186px;
align-items: center;}
.style25 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2em;
font-weight: 600;
margin-left: 0px;
height: 38px;}
.style26 {
background-color: #1c6cf0;
display: flex;
margin-left: 122px;
width: 426px;
height: 100%;
align-items: center;
flex-direction: column;
justify-content: center;}
.style27 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2em;
font-weight: 600;
height: 38px;}
.iphone6781row0column1 {
display: flex;
margin-left: 0px;
width: 339px;
height: 701px;
align-items: stretch;
flex-direction: column;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkq4j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 342px;}
.style16 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkr1j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
height: 358px;}
.style13 {
color: #5a5a5a;
font-family: 'Open Sans',serif;
font-size: 2em;
font-weight: 700;
margin-left: 48px;
margin-top: 506px;
height: 38px;}
.iphone6781row2 {
display: flex;
margin-left: 38px;
margin-top: 74px;
width: 1126px;
height: 323px;
align-items: stretch;
justify-content: space-between;}
.style5 {
background-image: linear-gradient(40.91435455662119deg,#4787fb 0%,#5988ea 24.26529973745346%,#f38f5d 66.93980097770691%,#fb8c51 100%);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
display: flex;
width: 234px;
align-items: stretch;
flex-direction: column;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknv9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
height: 310px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkojm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 234px;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkotg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 234px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dkp4c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3803921568627451);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
width: 234px;}
.iphone6781row3 {
display: flex;
margin-left: 109px;
margin-top: 83px;
width: 979px;
height: 35px;
align-items: stretch;
justify-content: space-between;}
.style4 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.8em;
font-weight: 600;}
.style8 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.8em;
font-weight: 600;}
.style10 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.8em;
font-weight: 600;}
.style12 {
color: #1d7aff;
font-family: 'Open Sans',serif;
font-size: 1.8em;
font-weight: 600;}
.style3 {
background-color: #1d7aff;
margin-left: 0px;
margin-top: 19px;
width: 314px;
height: 6px;}
.style0 {
background-color: #2f3245;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 224px;
align-items: center;
flex-direction: column;
justify-content: center;}
.iphone6781container0row0 {
position: relative;
display: flex;
width: 458px;
height: 45px;
align-items: stretch;}
.style2 {
background-image: url('https://designresources.assets.yotako.io/80syc56bwjn3dknkg.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-left: 0px;
width: 45px;
flex-shrink: 0;}
.style1 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.4000000000000004em;
margin-left: 22px;
flex-shrink: 0;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style28 {
background-color: #ffffff;
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.10196078431372549);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 506px;
flex-direction: column;}
.style30 {
background-color: #000000;
margin-top: 0px;
width: 0px;
height: 0px;}
.style29 {
background-color: #1d7aff;
border-top-left-radius: 27px;
border-top-right-radius: 27px;
border-bottom-left-radius: 27px;
border-bottom-right-radius: 27px;
margin-left: 106px;
margin-top: 253px;
width: 166px;
height: 166px;}
}